.example-wrapper, .example-wrapper2 { 
  max-width: 770px;
  margin: 2vh;
  height: 85vh;
}

.example-wrapper2 {
  background-color: #31313177;
  padding: 3vh;
  border-radius: 10px;
}

body { 
  background-image : url("/ressources/main.png");
  background-repeat:no-repeat; 
  background-size: cover;
  background-position: center center;
  height: 115vh;
}

.button {
  position: relative;
  cursor: pointer;
  border: none;
  width: 32vh;
  height: 6.5vh;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  font-family: Inter,sans-serif;
  background-color: transparent;
  background-size: 400%;
  color: #fff;
  font-size: 17px;
  letter-spacing: 4px;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,0,127,1) 18%, rgba(164,0,255,1) 36%, rgba(19,0,255,1) 57%, rgba(0,212,255,1) 76%, rgba(255,0,0,1) 100%); 
  background-size: 400%;
  border-radius: 5px;
  opacity: 0;
  transition: 1s;
}

.button:hover {
  animation: animate 10s linear infinite;
}

.button:hover::before {
  filter: blur(25px);
  opacity: .8;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
    touch-action: manipulation;
  }
}

@media (max-width: 1240px) {
  body {
    background-attachment: fixed;
  }

  iframe {
    width: 100%;
  }

  .example-wrapper2 {
    width: 100%;
    height: 100%;
  }
}