h4,
p,
h2 {
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    background-color: #060d11 !important;
}

img {
    border-radius: 4%;
}

.container{
    padding-left: 0;
}

/**/
.top {
    padding-top: 100px;
}

.card {
    background-color: transparent;
}

.border {
    border: 1px solid white
}

.card-header a {
    color: rgb(0, 0, 0);
}