body {
  background-color: #162832;
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('ressources/illuTV.png');
  background-size: cover;
  background-position: center;
  height: 70vh;
  border-radius: 25px;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

button:hover {
  color: white !important;
  transition: 0.1s;
}

.formu {
  width: 100%;
  margin-left: 2vh;
}

@media (max-width: 1000px) {
  .bg-image{
    display: none !important;
  }
}