/* ----- MENU ----- */

nav {
  color: white;
}

nav div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding-top: 2vh;
  align-items: center;
}

nav a {
  color: #fff !important;
  text-decoration: none;
}

nav a:hover {
  color: #ccc !important;
}

.all_navigate {
  margin-right: 5vh;
}

.user_name {
  color: #0d6efd;
}

.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.dropdown-item:hover {
  display: flex;
  justify-content: center;
}

.dropdown-item {
  background: none;
  border-color: white !important;
}

.dropdown-menu {
  background: none;
  border-color: white !important;
}

.decale {
  margin-right: 1vh;
  color: white !important;
}

.img {
  background-image: url('/ressources/logofull.png');
  background-repeat:no-repeat; 
  background-size: cover;
  background-position: left;
  height: 7vh;
  width: 55vh;
}

.navbar-nav .dropdown-menu {
  background: none;
  border-color: white;
}

.navbar-nav .show>.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: none;
}

@media (max-width: 991px)
{
  .navbar {
    display: flex;
  }

  .normal {
    display: none;
  }

  .img {
    background-image: url('/ressources/logoshort.png');
    vertical-align: middle;
    height: 60px;
    width: 155px;
    margin-top: 2vh;
    margin-left: 4vh;
  }

  nav div:nth-child(1){
    flex-direction: column;
  }
}

/* ----- FIN MENU ----- */


/* ----- FOOTER ----- */

.footer .row {
  display: flex;
  width: 60%;
}

.separated {
  flex: 1;
  margin-top: 1vh;
  padding-left: 0;
  padding-right: 0;
}

.year {
  display: flex;
  justify-content: end;
}

.line {
  border-top: 1px solid rgb(77, 77, 77);
  margin-top: 2vh;
}

ul {
  list-style: none;
}

.footer {
  background-color: #162832;
  border-top: 1px solid#2d2d2d;
  padding: 50px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 3vh;
}

.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0d6efd;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #26343c;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* ----- END FOOTER ----- */


/* ----- PAGINATION ----- */

.pagination {
  display: flex;
  border-radius: 1.5px;
}

.pagination a, .pagination .current {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination a:hover {
  background-color: #091319;
}

.pagination .current {
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.first a, .previous a, .next a, .last a{
  background-color: #26343c;
  color: rgb(255, 255, 255);
}
/* ----- END PAGINATION ----- */


/* ----- SEARCH BAR ----- */

input[type=text], button[type=submit] {
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: transparent;
  padding: 8px 16px;
  color: white;
}

.searchbtn {
  border-radius: 50% !important;
  width:42px;
}

.bi-search{
  fill:#ccc;
  margin-left: -3px;
}

.searchbtn:hover {
  background-color: DodgerBlue; 
}
  
.searchbtn:hover .bi-search{
  fill:#162832;
}

/* ----- END SEARCH BAR ----- */
