.serie{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2vh 2vh;
  margin-bottom: 3vh;
  background-color: #24262b;
  border-radius: 8px;
  color: white;
}

.listeseries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  border-radius: 8px;
}