/* ----- MENU ----- */
nav {
  position: absolute;
  width: 100%;
}

nav div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding-top: 2vh;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.all_navigate {
  margin-right: 5vh;
}

.user_name {
  color: #0d6efd;
}

.decale {
  margin-right: 1vh;
}

/* ----- FIN MENU ----- */


/* ----- FOOTER ----- */

.footer .row {
  display: flex;
  width: 60%;
}

.separated {
  flex: 1;
  margin-top: 1vh;
  padding-left: 0;
  padding-right: 0;
}

.year {
  display: flex;
  justify-content: end;
}

.line {
  border-top: 1px solid rgb(77, 77, 77);
  margin-top: 2vh;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 50px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0d6efd;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* ----- END FOOTER ----- */


/* ----- PAGINATION ----- */

.pagination {
  display: flex;
  border-radius: 1.5px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.pagination a, .pagination .current {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination a:hover {
  background-color: #ececec;
}

.pagination .current {
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.first a, .previous a, .next a, .last a{
  background-color: #7e7e7e;
  color: rgb(255, 255, 255);
}
/* ----- END PAGINATION ----- */


/* ----- SEARCH BAR ----- */

input[type=text] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: px;
}

/* ----- END SEARCH BAR ----- */