body {
  background-color: #162832;
}

.tete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vh;
  padding-right: 3vh;
  margin-bottom: 4vh;
}

.listeseries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.svgheart{
  width: 30px;
}

.unliked{
  fill:#9e9e9e;
  stroke-width:"0.5";
}

.liked{
  fill:#f91876;
}

.col-md-1{
  margin: 20px;
  padding: 0px;
  background : #101b20;
  color: #b3b0b0;
}