body {
  background-color: #162832;
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('ressources/illuTV.png');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.mx-auto{
  background-color: #F4F2EC;
  padding: 50px;
  border-radius: 25px;
}