@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

h4,p,h2{
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;
}

img{
  border-radius: 4%;
}

/**/
.top{
  padding-top:100px;
}

#accordion{
  width:100%;
}

.card-header {
    background: #F4F2EC;
}

.card-header a{
  color: rgb(0, 0, 0);
}

