{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('style.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Series index</h1>    
        <div class="listes">
            {% for e in episodes %}
                <table class="table">   
                    <tr>
                        <td>
                            {{ e.title }}
                            <a href="{{ path('app_series_show', {'id': e.getSeason().getSeries().getId()}) }}">show</a>
                        </td>
                    </tr>
                </table>        
            {% endfor %}
        </div>

{% endblock %}
